body {
    background-color: #131C21;
    color: #fff;
}

h1 {
    text-align: center;
}

#mainFooter{
    padding-top: 50px;
}

#mainNameField{
    padding-bottom: 10px;
    display: none;
}

#mainPhoneField {
    padding-bottom: 30px;
}

#mainScreen {
    display: none;
    overflow:hidden;
    padding-top: 100px;
}

#splashScreen {
    overflow:hidden;
    padding-top: 100px;
}

.bordered {
    border-color: #ee5555;
    border-width: 3px;
}

.centered {
    text-align: center;   
}

.foreWhite {
    color: #e5e5e5;
}
.foreWhite:hover {
    color: #fff;
    text-decoration: underline;
}

.wide {
    width: 100%;
}