body {
    background-color: #131C21;
    color: #fff;
}

h1 {
    text-align: center;
}

#mainPhoneField {
    padding-bottom: 30px;
}

#mainScreen {
    display: none;
    padding-top: 100px;
}

#splashScreen {
    overflow:hidden;
    padding-top: 100px;
}

.bordered {
    border-color:violet;
    border-width: 3px;
}

.centered {
    text-align: center;   
}

.wide {
    width: 100%;
}